<div class="container-fluid pageheading">
  <div  class="container"><h3>Update Metadata</h3></div>
</div>

<div  class="container-fluid whitebox">
  <div class="container padd15px martop15px">
    <%= render partial: 'edit_metadata_form', locals: { photo: @photo, image: @image, is_visitor: false } %>
  </div>
</div>
